* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: overlay;
    font-family: Arial, Helvetica, sans-serif;
}

.principal-section {
    background-image: url("../assets/backgroundReg.png");
    background-size: cover;
    height: 100vh;
}

.local-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

header {
    width: 95%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

header a {
    color: black;
    text-decoration: none;
}

.local-buttons-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.button-header {
    color: black;
    text-decoration: none;
}

.content-section {
    height: 87vh;
    display: flex;
    justify-content: center;
}

.align-itens-section {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 90%;
}

.content-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-left img {
    width: 80%;
}

.content-right {
    width: 50%;
    padding: 15px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 80%;
    height: 100%;
    background: linear-gradient(136.27deg, #0094FF 1.03%, #000744 100.85%);
    box-shadow: 0px 27px 106px 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 12px;
}

.titleForm {
    font-size: 35px;
    color: white;
    margin-bottom: 15px;
}

.align-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-info {
    width: 47%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 15px;
    background: none;
    color: white;
}

.input-info::placeholder {
    color: white;
}

.subtitleForm {
    margin-bottom: 15px;
    color: white;
}

.form button {
    width: 100%;
    height: 40px;
    background: linear-gradient(90.43deg, #2BEDFA 0.09%, #0066FF 100%);
    border-radius: 9px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.plains-section {
    box-sizing: border-box;
    padding: 40px;
    background-color: #001872;
}
.plains-section h1{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.airplains-locale{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 280px;
    height: 300px;
    background: linear-gradient(128.18deg, #00A3FF 1.74%, #0066FF 100%);
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    align-items: center;
}
.box-topo{
    box-sizing: border-box;
    border-radius: 8px;
    margin: 5px;
    padding: 15px;
    width: 95%;
    height: 40%;
    background: url("../assets/backgroundCard.jpg");
    background-size: 100%;
    background-position: 50%;
    margin-bottom: 10px;
}
.box-informacoes{
    width: 90%;
    height: 60%;
}
.box-informacoes p{
    color: white;
    margin-bottom: 5px;
}